.detailBox{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	padding: 0;
	box-sizing: border-box;
	overflow: auto;
}
.detailBox .head{
	position: fixed;
	top: 0;
	left: 0;
}
.detailBox .cnt{
	margin-top: 40px;
	padding: 20px;
}
.detailBox .title{
	font-size: 22px;
	color: #333;
	margin-bottom: 10px;
}
.detailBox .dtl .source{
color: #666;
}
.detailBox .content{
	margin-top: 10px;
	overflow: auto;
	font-size: 18px;
	line-height: 30px;
	color: #333;
}
.detailBox .content4 li{
	font-size: 18px;
	line-height: 30px;
	color: #333;
}
.detailBox .content img{
	width: 100%;
	margin: 10px 0;
}
.detail-fade-enter-active,
.detail-fade-leave-active{
	transition: all .2s;
}
.detail-fade-enter,
.detail-fade-leave-to{
	opacity: 0;
	transform: translateX(100%);
}