.smallVideo_box{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}
.smallVideo_box .vue-waterfall-slot{
	box-sizing: border-box;
}
.smallVideo_box .item{
	margin: 2px;
	border: 4px solid rgba(150,150,150,.2);
	border-radius: 3px;
	box-sizing: border-box;
	position: relative;
}
.smallVideo_box .item .item_img{
	display: block;
}
.smallVideo_box .item .content{
	position: absolute;
	bottom: 2px;
	width: 94%;
	padding: 3%;
}
.smallVideo_box .item .content .title{
	height: 26px;
	line-height: 26px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #fff;
	font-size: 14px;
	box-sizing: border-box;
}
.smallVideo_box .item .content .user{
	display: inline-block;
	width: 78%;
	font-size: 12px;
	color: #fff;
	vertical-align: top;
	line-height: 18px;
}
.smallVideo_box .item .content .user .img{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
}
.smallVideo_box .item .content .user .name{
	line-height: 18px;
	display: inline-block;
	vertical-align: top;
}
.smallVideo_box .item .content .comment{
	display: inline-block;
	width: 18%;
	font-size: 12px;
	color: #fff;
	vertical-align: top;
	line-height: 18px;
}
